{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Vote{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="private_key">Password</label>
    <input type="password" name="private_key" id="private_key" value="{{ request.form['private_key'] }}" required>
    <label for="body">Choose your candidate:</label>
    <select name="select_candidate" id = "select_candidate">
        {% for candidate in candidates %}
        <option value="{{candidate['username']}}">{{ candidate['username'] }}</option>
        {% endfor %}
        </select>
    <input type="submit" value="VOTE">
  </form>
{% endblock %}
